.button{
    -fx-background-color: transparent;
    -fx-text-fill: #668193;
    -fx-background-radius: 8;
    -fx-border-color: #668193;
    -fx-border-radius: 8;
    -fx-border-width: 2px;
}
.button:hover{
    -fx-background-color: #e0e0e0;
}
.button:pressed{
   -fx-background-color: #d0d0d0
}